table td {
    word-wrap: break-word;
    word-break: break-all;
    white-space: wrap !important;
    padding: 7px !important;
}

#post-title {
    padding-left: 12px !important;
}
.post-img-list {
    width: 80px !important;
    height: 50px !important;
    object-fit: cover;
    border-radius: 5px !important;
    border: 1px solid #dee2e6;
}

.featured-icon {
    font-size: 24px;
    color: green;
}

#post-file {
    border: 1px solid #dee2e6;
    color: #c9c8c8;
    width: 100%;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

#post-file::file-selector-button {
    font-weight: bold;
    color: #fff;
    background-color: #969696;
    padding: 0.5em;
    border: none;
    outline: none;
    font-size: 12px;
    border-radius: 3px;
    cursor: pointer;
}

.post-form-image {
    width: 170px;
    height: 120px;
    border-radius: 5px;
    border: 1px solid #c9c8c8;
    background-image: url("/storage/DefaultImages/image-default.png");
    background-position: center;
    background-size: cover;
}

.post-form-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

#post-status {
    background-color: transparent;
    appearance: auto;
    padding-bottom: 3px;
    padding-top: 2px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
    font-size: 12px;
    color: #fff;
    font-weight: 600;
    margin-left: 18px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    padding: 5px !important;
    border: none !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    border-right: 1px solid #fff !important;
    font-size: 22px !important;
    color: #fff !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover{
    background-color: #c41515 !important;
}

.select2-search__field {
    font-size: 14px !important;
    padding: 2px 0px 0px 7px !important;
}

.select2-search__field::placeholder {
    color: #d5d5d5 !important;
}